<!DOCTYPE html>
<html lang="en">

<head>
   <!-- Required meta tags always come first -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css">
   <link rel="stylesheet" href="css/style.css">
</head>

<body ng-app="almCalculatorUzi">
   <div id="wrapper-site" class="container">
      <div class="row" ng-controller="aimTimeCalculator">
         <div class="col-md-12">
            <h1>Uzi ALM Calculator</h1>
            <form>
               <section>
                  <h3>Aim Time</h3>
                  <fieldset class="form-group">
                     <label for="skill-accuracy-level">Shooter Skill Accuracy Level</label>
                     <input type="number" class="form-control" id="skill-accuracy-level" placeholder="0" ng-model="skillAccuracyLevel">
                  </fieldset>
                  <fieldset class="form-group">
                     <label for="aim-time-ac">Aim Time AC</label>
                     <input type="number" class="form-control" id="aim-time-ac" placeholder="1" ng-model="aimTimeAC">
                  </fieldset>
                  <h4>Aim Time ALM: {{shotAccuracy}}</h4>
               </section>
               <section>
                  <h3>Target Range</h3>
                  <fieldset class="form-group">
                     <label for="target-range">Range</label>
                     <input type="number" class="form-control" id="target-range" placeholder="1" ng-model="targetRange">
                  </fieldset>
                  <h4>Target Range ALM: {{rangeALM}}</h4>
               </section>
               <section>
                  <h3>Firing Stance/Situations</h3>
                  <div class="checkbox" ng-repeat="situation in scopeTable4B">
                     <label>
                        <input type="checkbox" value="{{situation.alm}}"> {{situation.desc}}
                     </label>
                  </div>
                  <h4>Target Range ALM: {{situationValue}}</h4>
               </section>
               <button type="button" class="btn btn-primary" id="buttonAimTimeALM" ng-click="calculate()">Calculate</button>
            </form>
            <h2>Total ALM: {{totalALM}}</h2>
         </div>
      </div>
   </div>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
   <script src="js/app.js"></script>
</body>

</html>
