<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Raven</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.3/foundation.min.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <div id="wrapper-site" ng-app="appRaven">
        <div id="wrapper-alm" ng-controller="ravenAlmCalculator">
            <div id="wrapper-alm-aimTime">
                <h2>Aim Time ALM</h2>
                <label>
                    Skill Accuracy Level
                    <input type="number" value="1" ng-model="skillAccuracyLevel">
                </label>
                <label>
                    Aim Time Mod
                    <input type="number" value="1" ng-model="aimTimeMod">
                </label>
                <label>
                    Shot Accuracy
                    <input type="number" value="1" ng-model="shotAccuracy">
                </label>
            </div>
            <div id="wrapper-alm-targetRange">
                <h2>Target Range ALM</h2>
                <label>
                    Range
                    <input type="number" value="1" ng-model="targetRange">
                </label>
                <label>
                    ALM
                    <input type="number" value="1" ng-model="rangeAlm">
                </label>
            </div>
            <div id="wrapper-alm-shooterStance">
                <h2>Shooter Stance ALM</h2>
                <label>
                    Stance
                    <select ng-model="data.selectMultipleAlmShooterStance" multiple>
                     <option ng-repeat="stance in table4B" ng-value="stance.alm">{{stance.stance}}</option>
                        <!-- <option value="0">Standing</option>
                        <option value="1">Standing & Braced</option>
                        <option value="2">Kneeling</option>
                        <option value="3">Kneeling & Braced</option>
                        <option value="4">Prone</option>
                        <option value="5">Prone & Braced</option>
                        <option value="6">Using Sling for Support</option>
                        <option value="7">Firing from the Hip</option>
                        <option value="8">Firing Rifle with One Hand</option>
                        <option value="9">Firing Pistol with One Hand</option>
                        <option value="10">Folding Stock Not Used</option>
                        <option value="11">Firing Pistol Double Action</option>
                        <option value="12">Deployed Bipod Not Braced</option>
                        <option value="13">Bipod Mounted Weapon</option>
                        <option value="14">Tripod Mounted Weapon</option>
                        <option value="15">Turret Mounted Weapon</option>
                        <option value="16">Pistol with Shoulder Stock</option> -->
                    </select>
                </label>
                <label>
                    ALM
                    <input type="number" value="1" ng-model="stanceAlm">
                </label>
            </div>
            <button type="button" class="button" ng-click="calculateAlm()">Calculate</button>
            <label>
                Effective Accuracy Level
                <input type="number" value="1" ng-model="effectiveAccuracyLevel">
            </label>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
